# dependencies
node_modules/

# next.js
.next/
out/
*.tsbuildinfo

# production
build/
dist/

# testing
coverage/
playwright-report/
test-results/

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store
Thumbs.db
